.top{
    height:330px;
    background-color: aqua;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 0;
    background-image: url(segal-jewelry-NsH-CvU0deg-unsplash.png);
    background-position:top;
    background-size: cover;
    color:rgb(165, 151, 119);
}

h3{
    width:100%;
    background-color: azure;
    opacity: 90%;
}

#navbar{
    margin-top: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px black solid; */
    /* width:100%; */
    background-color: azure;
    gap:25px;
    font-size: large;
    /* margin-right: 20px; */
    color:rgb(165, 151, 119);
}

.quiz{
    background-color: mediumspringgreen;
    width:100%;
    height:50px;
    display:flex;
    align-items: center;
}

.button{
    border:none;
}

.new_arivals{
    margin-top: 10px;
    background-color: lightgoldenrodyellow;
    width:100%;
    height: 200px;
    text-align: center;
    font-size: x-large;
}

.collections{
    margin-top: 10px;
    background-color: lightseagreen;
    width:100%;
    height: 200px;
}

.best_seller{
    margin-top: 10px;
    background-color: lightsalmon;
    width:100%;
    height: 200px;
}

#bottombar{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* border: 2px black solid; */
    margin-top: 10px;
    background-color: azure;
    /* width:100%; */
    height: 200px;
    gap:10px;
    color:rgb(165, 151, 119);
}

.bottombar p{
    width:30%;
}




#cite{
    width:30%;
    height:30%;
    background-color: lightblue;
    gap:5px;
}