.top{
    height:330px;
    background-color: aqua;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 0;
    background-image: url(segal-jewelry-NsH-CvU0deg-unsplash.png);
    background-position:top;
    background-size: cover;
    color:rgb(165, 151, 119);
}

h3{
    width:100%;
    background-color: azure;
    opacity: 90%;
}

#navbar{
    margin-top: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px black solid; */
    /* width:100%; */
    background-color: azure;
    gap:25px;
    font-size: large;
    /* margin-right: 20px; */
    color:rgb(165, 151, 119);
}

.quiz{
    background-color: lightblue;
    width:100%;
    height:150px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quiz p{
  padding-top: 10px;
  font-size: large;
  /* color: white; */
}

.new_arivals{
    margin-top: 10px;
    background-color: lightgoldenrodyellow;
    width:100%;
    height: 200px;
    text-align: center;
    font-size: x-large;
}

.collections{
    margin-top: 10px;
    background-color: lightseagreen;
    width:100%;
    height: 200px;
}

.best_seller{
    margin-top: 10px;
    background-color: lightsalmon;
    width:100%;
    height: 200px;
}

#bottombar{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* border: 2px black solid; */
    margin-top: 10px;
    background-color: azure;
    /* width:100%; */
    height: 200px;
    gap:10px;
    color:rgb(165, 151, 119);
}

.bottombar p{
    width:30%;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color:  rgb(199, 180, 137);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  #html-show{
    display:none;
  }