@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* CSS for the header and navbar */

.header {
    height:200px;
    /* background-color: aqua; */
    /* Stuff Alisa Did: */
    background-image: url(segal-jewelry-NsH-CvU0deg-unsplash3.png);
    background-position:top;
    /* background-size: cover; */
    

    text-align: center;
    font-size: xx-large;
    margin-bottom: 0;
    margin-top: 0;
    /* background-position:center; */
    background-size: cover;
    color:white;
}
  
.navbar{
    background-color: azure;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:25px;
    font-size: large;
    
}
  
.navbar a {
    text-decoration: none;
   color:rgb(165, 151, 119);
}
  
.navbar a:hover {
    text-decoration: none;
    color: gray;
}
  
.bag {
    position: relative;
    height: 30px;
    width: 30px;
}

/* CSS for the footer */

.footer{
    background-color: azure;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 60px;
    padding-bottom: 160px;
    padding-left: 60px;
    padding-right: 60px;
    height: 200px;
    gap:10px;
    color:rgb(165, 151, 119);
  }

@media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }

/* CSS for responsive */

@media(max-width:1000px) {
    .content{
        width: 45px;
    }
}

@media(max-width:750px) {
    .content{
        width: 100%;
    }
}