input[type="radio"] {
    margin: 0 10px 0 10px;
}

.quiz-container {
    display: hidden;
    flex:column;
    justify-content: center;
    align-items: center;
}
.quiz-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightblue;
    align-items: center;
    /* border-radius: 10px; */
    /* width: 100%; */
    padding: 2em;
}

#quiz-results {
    display: none
}

fieldset {
    border: 0;
    width: 100%;
    text-align: center;
    display: none;
    margin-bottom: 4em;
}

fieldset legend {
    font-size: xx-large;
    margin-top: 2em;
    width: 100%;
    margin-bottom: 2em;
    text-align: center;
}

.selection-container {
    display: flex;
    justify-content: space-around;
}

.quiz-selection {
    border: 2px;
    border-color: black;
    background-color: white;
    margin-top: 10px;
    padding: 1em;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
}

.quiz-selection div {
    margin-top: 1em;
    margin-bottom: 1em;
}

.step-btn {
    color:rgb(165, 151, 119);
    background-color: white;
    padding: 10px 20px 10px 20px;
    border: 0;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    cursor: pointer;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #888;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}
  
.step.active {
    opacity: 1;
}

.step-container {
    text-align: center;
    margin-top: 40px;
}